/* Apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Reset */
html, body, div {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-display: swap;
    min-width: 300px;
    overflow: auto;
    overflow: overlay;

    /* Helps fonts on OSX look more consistent with other systems */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Use momentum-based scrolling on iOS devices */
    -webkit-overflow-scrolling: touch;

    /* Adjust text sizes */
    -webkit-text-size-adjust: 100%;

}

body.scroll-freeze {
    overflow-y: hidden;
}

a {
  color: #f58025;
}

a:not(:hover) {
    text-decoration: none;
}

canvas {
    display: block;
}

.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}

/* Customize website's scrollbar like Mac OS

/* Entire scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(0,0,0,0);
}

/* Scrollbar background */
::-webkit-scrollbar-track {
    background-color: #fff;
    background-color: rgba(255,255,255,0);
    transition: background-color 200ms ease;
}
::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
    background-color: rgba(245, 245, 245, 0.8);
    border: 1px solid lightgrey;
}

/* Scrollbar Element */
::-webkit-scrollbar-thumb {
    min-height:50px;
    background-color: #babac0;
    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 16px;
    border: 3px solid #fff;
    border: 3px solid rgba(0,0,0,0);

    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
    border: 1px solid #fff;
    border: 1px solid rgba(0,0,0,0);
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-track-piece {
display: none;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
    display: none;
}
